<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body class="bg-slate-100">
    <div class="flex flex-row justify-between mainContainer bg-slate-100">
        <%- include('../partials/adminSidebar.ejs') %>
        <div class="mainContain overflow-auto flex flex-col w-full ml-[320px] transition-all ease-in-out duration-500">
            <div class="navbar flex flex-row h-[72px] mx-5 items-center justify-between">
                <div class="flex flex-col welcome">
                    <p class="text-xs font-medium font-base text-navy/60">Selamat Datang,</p>
                    <h1 class="text-lg font-bold font-base text-navy"><%= user.full_name %></h1>
                </div>
                <div class="flex flex-row gap-4">
                    <div
                        class="flex flex-row items-center justify-between gap-2 p-2 transition-all duration-500 ease-out bg-white border rounded-full outline-none cursor-pointer search ring-container w-9 h-9 border-slate-200">
                        <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                        <input class="ring-content hidden text-[13px] font-base text-navy bg-transparent outline-none transition-all ease-in w-full"
                        type="text" name="password" id="password" placeholder="Cari sesuatu...">
                    </div>
                    <svg class="p-2 bg-white border rounded-full cursor-pointer border-slate-200 h-9 w-9" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>                
                </div>
            </div>
            <hr class="mx-5 mb-5 text-slate-300">
            <div class="flex flex-col gap-4 mx-5 contain">
                <h1 class="text-lg font-bold font-base text-navy">Profil</h1>
                <div class="flex flex-col gap-4 items-center">
                    <div class="image-profile w-2/3 flex flex-col gap-8">
                        <div class="flex flex-col gap-4">
                            <div class="h-40 bg-cover bg-center rounded-md" style="background-image: url(/images/img/img_gradient.png)">
                                <img class="w-24 h-24 border-4 border-slate-100 rounded-full object-cover relative top-32 left-10" src="<%= user.image %>" alt="">
                            </div>
                            <div class="flex flex-row gap-2 justify-end">
                                <a class="group text-[13px] font-base font-medium text-navy border border-slate-300 rounded-md py-[6px] px-4 w-fit flex flex-row items-center gap-2 delay-100 transition-all ease-in hover:bg-blueSky hover:text-white"
                                    href="/admin/profile/change-password">
                                    <svg class="delay-100 transition-all ease-in group-hover:stroke-white" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-key-round"><path d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"/><circle cx="16.5" cy="7.5" r=".5" fill="currentColor"/></svg>
                                    Ganti Password
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-3">
                            <div class="flex flex-row justify-between items-center">
                                <h1 class="text-sm font-medium font-base text-navy">Nama Lengkap</h1>
                                <input class="border w-2/3 text-sm font-base text-navy bg-transparent border-slate-300 outline-none rounded-md h-10 px-4 transition-all ease-in"
                                    type="email" name="email" id="email" placeholder="" required autocomplete="off"
                                    value="<%= user.full_name %>" disabled>
                            </div>
                            <div class="flex flex-row justify-between items-center">
                                <h1 class="text-sm font-medium font-base text-navy">Email</h1>
                                <input class="border w-2/3 text-sm font-base text-navy bg-transparent border-slate-300 outline-none rounded-md h-10 px-4 transition-all ease-in"
                                    type="email" name="email" id="email" placeholder="" required autocomplete="off"
                                    value="<%= user.email %>" disabled>
                            </div>
                            <div class="flex flex-row justify-between items-center">
                                <h1 class="text-sm font-medium font-base text-navy">Nomor HP</h1>
                                <input class="border w-2/3 text-sm font-base text-navy bg-transparent border-slate-300 outline-none rounded-md h-10 px-4 transition-all ease-in"
                                    type="email" name="email" id="email" placeholder="" required autocomplete="off"
                                    value="<%= user.phone %>" disabled>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="/js/animate_sidebar.js"></script>
    <script src="/js/responsive_list_doctor.js"></script>
</body>

</html>