<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body class="bg-slate-100">
    <div class="flex flex-row justify-between mainContainer bg-slate-100">
        <%- include('../partials/adminSidebar.ejs') %>
        <div class="mainContain overflow-auto flex flex-col w-full ml-[320px] transition-all ease-in-out duration-500">
            <div class="navbar flex flex-row h-[72px] mx-5 items-center justify-between">
                <div class="flex flex-col welcome">
                    <p class="text-xs font-medium font-base text-navy/60">Selamat Datang,</p>
                    <h1 class="text-lg font-bold font-base text-navy"><%= user.full_name %></h1>
                </div>
                <div class="flex flex-row gap-4">
                    <svg class="p-2 bg-white border rounded-full cursor-pointer border-slate-200 h-9 w-9" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>                
                </div>
            </div>
            <hr class="mx-5 mb-5 text-slate-300">
            <div class="flex flex-col gap-4 mx-5 contain">
                <div class="flex flex-row w-full gap-2 pb-4 border-b title border-slate-300">
                    <svg class="border border-slate-200 cursor-pointer rounded-full h-12 w-12 p-[10px]" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 -2 24 28" fill="none" stroke="rgb(57 145 245/.70)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users"><path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M22 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                    <div class="flex flex-col">
                        <h1 class="text-lg font-bold font-base text-navy">Pengguna</h1>
                        <p class="text-xs font-medium font-base text-navy/60">Kamu tidak memiliki janji temu sejauh ini</p>
                    </div>
                </div>
                <div class="flex flex-col h-full gap-6">
                    <div class="flex flex-col gap-4 appointmentList">
                        <table class="box-border border-collapse table-fixed">
                            <thead>
                                <tr>
                                    <th class="text-[13px] font-base font-semibold rounded-l-md bg-slate-200/35 py-2 text-blueSky w-10">#</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-200/35 py-2">Nama Lengkap</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-200/35 py-2">Email</th>
                                    <th class="text-[13px] text-left font-base font-semibold text-navy bg-slate-200/35 py-2">Nomor HP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% data.forEach((item, index) => { %>
                                    <tr>
                                        <td class="text-[13px] font-base font-normal py-2 text-blueSky text-center"><%= index + 1 %></td>
                                        <td class="text-[13px] font-base font-normal text-navy py-2 flex flex-row items-center gap-2">
                                            <img class="object-cover rounded-full w-7 h-7" src="<%= item.image %>" alt="">
                                            <p><%= item.full_name %></p>
                                        </td>
                                        <td class="text-[13px] font-base font-normal text-navy py-2"><%= item.email %></td>
                                        <td class="text-[13px] font-base font-normal text-navy py-2"><%= item.phone %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/animate_sidebar.js"></script>
    <script src="/js/responsive_list_doctor.js"></script>
    <script src="/js/ring_input.js"></script>
    <script src="/js/animate_search_input.js"></script>
</body>

</html>