<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body class="bg-slate-100">
    <div class="flex flex-row justify-between mainContainer bg-slate-100">
        <%- include('../partials/sidebar.ejs') %>
        <div class="mainContain overflow-auto flex flex-col w-full ml-[320px] transition-all ease-in-out duration-500">
            <div class="navbar flex flex-row h-[72px] mx-5 items-center justify-between">
                <div class="flex flex-col welcome">
                    <p class="text-xs font-medium font-base text-navy/60">Selamat Datang,</p>
                    <h1 class="text-lg font-bold font-base text-navy"><%= user.full_name %></h1>
                </div>
                <div class="flex flex-row gap-4">
                    <div
                        class="flex flex-row items-center justify-between gap-2 p-2 transition-all duration-500 ease-out bg-white border rounded-full outline-none cursor-pointer search ring-container w-9 h-9 border-slate-200">
                        <svg id="search-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                        <input class="ring-content hidden text-[13px] font-base text-navy bg-transparent outline-none transition-all ease-in w-full"
                        type="text" name="password" id="password" placeholder="Cari sesuatu...">
                    </div>
                    <svg class="p-2 bg-white border rounded-full cursor-pointer border-slate-200 h-9 w-9" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#999999" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bell"><path d="M10.268 21a2 2 0 0 0 3.464 0"/><path d="M3.262 15.326A1 1 0 0 0 4 17h16a1 1 0 0 0 .74-1.673C19.41 13.956 18 12.499 18 8A6 6 0 0 0 6 8c0 4.499-1.411 5.956-2.738 7.326"/></svg>                
                </div>
            </div>
            <hr class="mx-5 mb-5 text-slate-300">
            <div class="flex flex-col gap-4 mx-5 contain">
                <h1 class="text-lg font-bold font-base text-navy">Profil</h1>
                <div class="flex flex-col gap-4 items-center">
                    <div class="image-profile w-2/3 flex flex-col gap-8">
                        <form class="flex flex-col gap-8" action="/profile/<%= user.id %>/update" method="post" enctype="multipart/form-data">
                            <div class="flex flex-col gap-4">
                                <div class="h-40 bg-cover bg-center rounded-md" style="background-image: url(/images/img/img_gradient.png)">
                                    <img class="w-24 h-24 border-4 border-slate-100 rounded-full object-cover relative top-32 left-10" src="<%= user.image %>" alt="">
                                </div>
                                <div class="flex flex-row gap-2 justify-end">
                                    <a class="group text-[13px] font-base font-medium text-navy border border-slate-300 rounded-md py-[6px] px-4 w-fit flex flex-row items-center gap-2 delay-100 transition-all ease-in hover:bg-white"
                                        href="/profile/<%= user.id %>">
                                        Batal
                                    </a>
                                    <button class="group text-[13px] font-base font-medium text-white border border-slate-300 rounded-md bg-blueSky py-[6px] px-4 w-fit flex flex-row items-center gap-2 delay-100 transition-all ease-in"
                                        type="submit">
                                        Ubah Profil
                                    </button>
                                </div>
                            </div>
                            <div class="flex flex-col gap-3">
                                <div class="flex flex-row justify-between items-center">
                                    <h1 class="text-sm font-medium font-base text-navy">Foto Profil</h1>
                                    <div class="flex flex-row w-2/3 items-center gap-4">
                                        <img class="preview w-12 h-12 border border-slate-300 rounded-full object-cover" src="<%= user.image %>" alt="">
                                        <div class="flex flex-row w-full">
                                            <input class="upload text-[13px] font-base font-medium text-navy w-full file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-violet-50 file:text-violet-700 hover:file:bg-violet-100" type="file" name="avatar">
                                            </input>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="flex flex-row justify-between items-center">
                                    <h1 class="text-sm font-medium font-base text-navy">Nama Lengkap</h1>
                                    <div class="flex flex-col w-2/3 gap-1">
                                        <input class="border text-sm font-base text-navy bg-transparent outline-none rounded-md h-10 px-4 transition-all ease-in <% if (errors.username) { %> border-red-500 <% } else { %> border-slate-200 <% } %> focus:outline-blueSky/50 focus:outline-[3px]"
                                            type="text" name="username" id="username" placeholder="Nama Sesuai KTP" required autocomplete="off"
                                            value="<%= oldData.username || user.full_name %>" autofocus>
                                            <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                <%= errors.username %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row justify-between items-center">
                                        <h1 class="text-sm font-medium font-base text-navy">Email</h1>
                                        <div class="flex flex-col w-2/3 gap-1">
                                            <input class="border text-sm font-base text-navy bg-transparent outline-none rounded-md h-10 px-4 transition-all ease-in <% if (errors.email) { %> border-red-500 <% } else { %> border-slate-200 <% } %> focus:outline-blueSky/50 focus:outline-[3px]"
                                            type="email" name="email" id="email" placeholder="contoh@gmail.com" required autocomplete="off"
                                            value="<%= oldData.email || user.email %>">
                                            <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                <%= errors.email %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="flex flex-row justify-between items-center">
                                        <h1 class="text-sm font-medium font-base text-navy">Nomor HP</h1>
                                        <div class="flex flex-col w-2/3 gap-1">
                                            <input class="border text-sm font-base text-navy bg-transparent outline-none rounded-md h-10 px-4 transition-all ease-in <% if (errors.phone) { %> border-red-500 <% } else { %> border-slate-200 <% } %> focus:outline-blueSky/50 focus:outline-[3px]"
                                                type="text" name="phone" id="phone" placeholder="Nomor Aktif Whatsapp" required autocomplete="off"
                                                value="<%= oldData.phone || user.phone %>">
                                                <p class="text-xs font-base font-medium text-red-500 leading-4">
                                                    <%= errors.phone %>
                                                </p>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/animate_sidebar.js"></script>
    <!-- <script src="/js/responsive_list_doctor.js"></script> -->
    <script src="/js/upload_image.js"></script>
</body>

</html>